/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
	padding: 0;
	margin: 0;
}
body{
    background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}
/* NAVBAR */
.navbar{ background:#F97300;}

.nav-link, .navbar-brand { color: #f4f4f4; cursor: pointer;}

.nav-link { margin-right: 1em !important;}

.nav-link:hover { background: #f4f4f4; color: #f97300; }

.navbar-collapse { justify-content: flex-end;}

.navbar-toggler {  background:#fff !important;} 

.active{color: #fff !important;}

.active:hover { background: #f4f4f4 !important; color: #f97300 !important; }

/* HEADER */
header{
    background-image: url('images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh; 
}
.overlay{
    min-height: 100vh;
	min-width: 100vw;
    left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
	color:#F97300;
	text-align: left;
}
.description p{
	color:#666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #F97300;
	background: #F97300;
	color:#fff;
}

/* ABOUT */
section, article{
	margin: 5em 0;
	position: relative;
}
section h1, article h1{
	color:#F97300;
	margin-bottom: 2em;
}
.about img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.about span{
	display: block;
	position: absolute;
	left: 115px;
}               
.about .desc {
	padding: 2em;
	border-left: solid 4px teal;
	text-align: justify;
}
.about .desc h3 {
	color: teal;
}

.about .desc p {
	line-height:2;
}

/* PORFOLIO */
.portfolio img {
	height: 15rem;
	width: 100%;
	margin: 1em;
}

/* BLOG */
.blog .card{
	box-shadow: 0 0 20px #ccc;
}

.blog img {
	height: 12rem;
	width: 100%;
}

.blog .card-title {
	color: #F97300;
}

.blog .card-body{
	padding: 1em;
}

/* TEAM */
.team .item {
	position: relative;
}
.team .des{
	background: #F97300;
	color: #fff;
	text-align: center;
	border-bottom-left-radius: 93%;
}
.team .item:hover .des{
	height: 100%;
	background:#f973007d;
	position: absolute;
	width: 90%;
	padding: 5em;
	bottom: 0;
	border-bottom-left-radius: 0;
	transition:.3s ease-in-out;
}

/* CONTACT */
.contact h1 { 
	padding-top: 2em;
	text-align: center;
 }
.contact .form-control::placeholder {
	color: #888;
	font-size: 16px;
}
.contact .btn-secondary {
	 background:  #F97300;
	 color: #fff;
	 border:0;
}
address {
	text-align: center;
	margin-top: -4em;
}
address a {
	color: #F97300;
}
.form-group{
	padding: 1em;
}
.btn{
	width: 44em;
	margin-left: 1em;
}