/* GENERAL */
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 75px;
    margin-left: 1em;
}


.navbarList{
    display: inline;
    margin-left: 1em;
}
/* FOOTER */
footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    /* NAVBAR */
    .navbar{
        background-color: yellow;
        position: sticky;
        top: 0;
}
    .navbarItems{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 9px;
        left: 18em;
        margin-left: 20em;
        font-size: 10px;
    }
    .items{
        text-decoration: none;
        color: black;
        font-weight: 900;
    }

/* CONTENT */
.container{
    background-image: url('https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vw;
    
    
}
.title{
    position: absolute;
    top: 5em;
    left: .8em;
    font-size: 35px;
    font-weight: bolder;
}
.para{
    position: absolute;
    top: 18em;
    font-size: 12px;
    left: 4.5em;
}

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*  NAVBAR */
    .navbar{
        background-color: yellow;
        position: sticky;
        top: 0;
}
    .navbarItems{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 9px;
        left: 22em;
        margin-left: 20em;
        font-size: 10px;
    }
    .items{
        text-decoration: none;
        color: black;
        font-weight: 900;
    }

/* CONTENT */
.container{
    background-image: url('https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vw;
    
    
}
.title{
    position: absolute;
    top: 5em;
    left: .8em;
    font-size: 35px;
    font-weight: bolder;
}
.para{
    position: absolute;
    top: 18em;
    font-size: 12px;
    left: 4.5em;
}

} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        background-color: lightgreen;
        position: sticky;
        top: 0;
}
    .navbarItems{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 9px;
        left: 38em;
        margin-left: 20em;
        font-size: 10px;
    }
    .items{
        text-decoration: none;
        color: black;
        font-weight: 900;
    }

/* CONTENT */
.container{
    background-image: url('https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vw;
    
    
}
.title{
    position: absolute;
    top: 7.6em;
    left: .8em;
    font-size: 25px;
    font-weight: bolder;
}
.para{
    position: absolute;
    top: 18em;
    font-size: 12px;
    left: 19em;
}

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar{
        background-color: red;
        position: sticky;
        top: 0;
}
    .navbarItems{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 9px;
        left: 50em;
        margin-left: 20em;
        font-size: 10px;
    }
    .items{
        text-decoration: none;
        color: white;
        font-weight: 900;
    }

/* CONTENT */
.container{
    background-image: url('https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vw;
}
.title{
    position: absolute;
    top: 14em;
    left: .8em;
    font-size: 25px;
    font-weight: bolder;
}
.para{
    position: absolute;
    top: 32em;
    font-size: 12px;
    left: 19em;
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar{
        background-color: black;
        position: sticky;
        top: 0;
}
    .navbarItems{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 9px;
        left: 50em;
        margin-left: 20em;
        font-size: 10px;
    }
    .items{
        text-decoration: none;
        color: white;
        font-weight: 900;
    }

/* CONTENT */
.container{
    background-image: url('https://user-images.githubusercontent.com/30896388/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vw;
}
.title{
    position: absolute;
    top: 20em;
    left: .8em;
    font-size: 25px;
    font-weight: bolder;
}
.para{
    position: absolute;
    top: 46em;
    font-size: 12px;
    left: 19em;
}
}